<br>
<div class="container">
    <div class="row row-cols-4">
    {% for n in equipment %}
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="{{n.image.thumb.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{n.name}}</h5>
              <p class="card-text">{{n.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Type: {{n.type}}</li>
              <li class="list-group-item">R$ {{n.price}}</li>
            </ul>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>

 
